/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0F172A; /* #2e8555; */
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-navbar-link-hover-color: #44b9ea; 
  --ifm-menu-color-active: #44b9ea;
  --ifm-link-color: #44b9ea;
  --code-highlighter-yellow: PaleGreen;
}


/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #44b9ea; /* #25c2a0; */ /* #0F172A; qli blue */
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --code-highlighter-yellow: DarkGreen;
}

.hero {
  background-image: url("/static/img/qubic_background.png");
}

.hero__title {
  background-color: rgba(0, 0, 0, 0.5); /* 50% transparent black */
}

[data-theme='dark'] .hero__title {
  color: #FFFFFF;
}


.hero__subtitle {
  background-color: rgba(0, 0, 0, 0.5); /* 50% transparent black */
}

[data-theme='dark'] .hero__subtitle {
  color: #FFFFFF;
}